@tailwind base;
@tailwind components;
@tailwind utilities;


.text-gradient-primary {
    background: linear-gradient(45deg, #f00, #00f); /* Example gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }